# Ignore virtual environment folder
env/

# Ignore the secret .env file
library_system/.env

# Python cache files
__pycache__/
*.py[cod]

# SQLite database
*.sqlite3

# Log files
*.log

# Editor folders
.vscode/
.idea/

# macOS files
.DS_Store

# Django static/media folders (optional)
staticfiles/
media/

# Django migrations (optional: ignore migrations/__pychace__/ except __init__.py)
!**/migrations/__init__.py

# Ignore __pycache__ folders inside migrations
**/migrations/__pycache__/
